apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-app
        image: yavuzkaramert/flask-app:5fff470ed04d4492270c6a794a8e9f890361a493
        imagePullPolicy: Always
        ports:
        - containerPort: 5000